* {
  margin: 0;
  padding: 0;
}

nav {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
  row-gap: 5px;
  column-gap: 10px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;

  /* gap:20px 20px; */
}
ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
nav ul li:hover {
  cursor: pointer;
  color: rgba(56, 70, 70, 0.777);
}

/* ////////////////////section//////////////////////// */

section {
  width: 90%;
  margin: auto;
}
section div {
  display: grid;
  grid-template-columns: 10px repeat(6, 2fr);
  grid-template-rows: repeat(7, auto);
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 3px;
  background-color: #e5ecf3;
  padding: 3px;
}
section .forms,
.sec2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
.content input,
.sec2 input {
  width: 58px;
  height: 25px;
}
.forms select {
  width: 50px;
}
.addnew {
  height: 30px;
  width: 150px;
  background-color: #6cbdc1;
  border: none;
  border-radius: 5px;
}
.edit {
  background-color: #05498d;
  color: white;
  border: none;
  border-radius: 3px;
}
.delete {
  background-color: #042d3a;
  color: white;
  border: none;
  border-radius: 3px;
}

.header {
  padding: 10px;
  margin: auto;
}
.content {
  padding: 10px;
  margin: auto;
}
.content select {
  width: 210px;
}

/* ////////////////section2//////////////// */
