* {
  margin: 0;
  padding: 0;
}

nav {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-template-rows: repeat(4, auto);
  justify-content: space-between;
  row-gap: 5px;
  column-gap: 10px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;

  /* gap:20px 20px; */
}
ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
nav ul li:hover {
  cursor: pointer;
  color: rgba(56, 70, 70, 0.777);
}

/* ////////////////////section//////////////////////// */

section {
  width: 90%;
  margin: auto;
}
section div {
  background-color: #e5ecf3;
  padding: 3px;
}
section .forms,
.sec2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
.content input,
.sec2 input {
  width: 58px;
  height: 25px;
}
.forms select {
  width: 50px;
}
.addnew {
  height: 30px;
  width: 150px;
  background-color: #6cbdc1;
  border: none;
  border-radius: 5px;
}
.edit {
  background-color: #05498d;
  color: white;
  border: none;
  border-radius: 3px;
}
.deleteEmployee,
.DeleteInstructor,
.deleteStudent,
.deleteCourse {
  background-color: #042d3a;
  color: white;
  border: none;
  border-radius: 3px;
}
.edit:hover,
.delete:hover,
.NextPage:hover,
.PreviousPage:hover {
  cursor: pointer;
}
.header {
  opacity: 0;
  padding: 10px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 10px repeat(6, 2fr); */
  grid-template-rows: repeat(7, auto);
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 3px;
}
.content {
  padding: 10px;
  margin: auto;
  display: grid;
  /* grid-template-columns: 10px repeat(6, 2fr); */
  grid-template-rows: repeat(7, auto);
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 3px;
}
.content select {
  width: 210px;
}

/* ////////////////Editing Form//////////////// */

.StudentForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  width: 500px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #e5ecf3;
  display: none;
  /* visibility: hidden; */
  /* opacity: 0; */
}

.EmployeeForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  width: 500px;
  position: absolute;
  z-index: 1000;
    top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5ecf3;
  display: none;
  /* visibility: hidden; */
  display: none;
  /* visibility: hidden; */
  /* visibility: visible; */
  /* opacity: 0; */
}

.CourseForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  width: 500px;
  position: absolute;
  z-index: 1000;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5ecf3;
  display: none;
  /* visibility: hidden; */
  /* opacity: 0; */
}
.InstructorForm {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  margin: auto;
  width: 500px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #e5ecf3;
  display: none;
  /* visibility: hidden; */
  display: none;
  /* visibility: hidden; */
  /* opacity: 0; */
}

.entity {
  margin: 10px auto;
  text-align: center;
}
.entity select {
  padding: 5px;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
.StudentForm label,
.EmployeeForm label,
.CourseForm label,
.InstructorForm label {
  display: block;
  margin: 5px;
}
.StudentForm input,
.EmployeeForm input,
.CourseForm input,
.InstructorForm input {
  display: block;
  width: 300px;
}
.StudentForm select {
  padding: 3px;
  margin: 5px;
}
.savedataCourse , .savedataStudent ,.savedataInstructor ,.savedataEmployee{
  width: 100px;
  border-radius: 10px;
  background-color: #6cbdc1;
  border: none;
  padding: 5px;
  margin: 10px auto;
}
.savedataCourse:hover , .savedataStudent:hover ,.savedataInstructor:hover ,.savedataEmployee:hover{
  cursor: pointer;
}